# application.yml
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/book_management?useSSL=false&serverTimezone=UTC&characterEncoding=utf8
    username: root
    password: wd016034
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true

  thymeleaf:
    cache: false
    mode: HTML
    encoding: UTF-8

server:
  port: 8081
